h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

body {
    background: #4ae;
    color: #000040;
}

h1,
h2,
#stopka {
    background: #000040;
    color: #8080ff;
    text-align: center;
}

#kontener {
    background: #ffffff;
    width: 90%;
    margin: auto;

}

#menu {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #ffffff;
    border-bottom: 2px solid #0000a0;
}

#nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 10px;
}

#nav>* {
    flex: 1 1 auto;
}

section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#tresc {
    flex: 3 1 auto;
    background: #80ffff;
    padding: 1%;
}

#tresc h3 {
    border-bottom: 3px solid #0000a0;
}

#tresc ul {
    list-style: square;
    /* border: #000040 solid 1px; */
}

#tresc li {
    /* list-style: square; */
    /* border: #000040 solid 1px; */
    padding: 5px;
}

#pasek {
    flex: 1 1 auto;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer {
    width: 100%;
    padding: 5px 0 5px 0;
    text-align: center;
}

*.box {
    background: #0000a0;
    border-radius: 10px;
    color: #dbffff;
    padding: 5px;
    margin: 5px;
    font-size: 90%;
}

*.box a {
    color: #ffffb0;
}

#nav {
    text-align: left;
    overflow: hidden;
    font-family: calibri, tahoma;
}

ul#nav li {
    border: 3px solid #0000a0;
    border-radius: 5px;
    list-style-type: none;
    background: #98bed8;
    margin-left: 3px;
}

ul#nav li:hover {
    list-style-type: none;
    background: #f0f0f0;
    margin-left: 3px;
}

ul#nav li a {
    display: block;
    padding: 4pt;
    text-decoration: none;
}

ul#nav li li a {
    width: 160px;
}

ul#nav li li:hover {
    background: white;
}

ul#nav li ul {
    overflow: hidden;
    display: none;
}

ul#nav li:hover ul {
    position: absolute;
    background: #aaa;
    padding: 0;
    display: block;
    width: 177px;
}

@media screen and (max-width: 400px) {
    header {
        font-size: 12px;
    }

    section {
        font-size: 12px;
    }
}